.career__slide {
  margin-top: 25px;
  .timeline {
    position: relative;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .timeline__left-line {
      position: absolute;
      width: 1.5px;
      height: 100%;
      background: #cecece;
      left: 12px;
    }
    .timeline__item {
      display: flex;
      align-items: center;
      transform: translateY(100px);
      opacity: 0;
      transition: 0.5s;
      display: flex;
      align-items: flex-start;
      .item__dot-wrapper {
        width: 24px;
        height: 24px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        .item__dot {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: #9d9d9d;
        }
      }
      .item__text {
        margin-left: 10px;
        font-weight: bold;
      }
      .item__text-list {
        font-size: 13px;
        padding-left: 50px;
        margin-top: 8px;
        color: grey;
        font-weight: bold;
        text-align: left;
      }
    }
    .timeline__item-enter-done {
      transform: translateY(0px);
      opacity: 1;
      transition: 1s;
    }
  }
}
