.career__slide .timeline {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.career__slide .timeline .timeline__left-line {
  position: absolute;
  width: 1.5px;
  height: 100%;
  background: #cecece;
  left: 12px;
}

.career__slide .timeline .timeline__item {
  display: flex;
  align-items: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
  display: flex;
  align-items: flex-start;
}

.career__slide .timeline .timeline__item .item__dot-wrapper {
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.career__slide .timeline .timeline__item .item__dot-wrapper .item__dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #9d9d9d;
}

.career__slide .timeline .timeline__item .item__text {
  margin-left: 10px;
  font-weight: bold;
}

.career__slide .timeline .timeline__item .item__text-list {
  font-size: 13px;
  padding-left: 50px;
  margin-top: 8px;
  color: grey;
  font-weight: bold;
  text-align: left;
}

.career__slide .timeline .timeline__item-enter-done {
  transform: translateY(0px);
  opacity: 1;
  transition: 1s;
}
