///////////////////////////////////////////////////////////////////////////////////

// 変数の定義

// min-width
$breakpoint-up: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

// @mixinの定義
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}
// 参考 https://www.tam-tam.co.jp/tipsnote/html_css/post10708.html

///////////////////////////////////////////////////////////////////////////////////

.career__slide {
  margin: 3% 0;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  .timeline {
    position: relative;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .timeline__left-line {
      position: absolute;
      width: 1.5px;
      height: 100%;
      background: #cecece;
      left: 12px;
    }
    .timeline__item {
      display: flex;
      align-items: center;
      transform: translateY(100px);
      opacity: 0;
      transition: 0.5s;
      display: flex;
      align-items: flex-start;
      .item__dot-wrapper {
        width: 24px;
        height: 24px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        .item__dot {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: #9d9d9d;
        }
      }
      .item__text {
        margin-left: 10px;
        font-weight: bold;
      }
      .item__text-list {
        font-size: 13px;
        padding-left: 50px;
        margin-top: 8px;
        color: grey;
        font-weight: bold;
        text-align: left;
      }
    }
    .timeline__item-enter-done {
      transform: translateY(0px);
      opacity: 1;
      transition: 1s;
    }
  }
}

@include mq-down(sm) {
  .career__slide {
    width: 80%;
    margin: 0;
    .item__text {
      font-size: 13px;
    }
  }
  .profile__slide .slide__text {
    margin-bottom: 8px;
  }
  .biography__text,
  .skill__text,
  .hobby__text {
    font-size: 14px;
  }
  .career__slide .timeline {
    height: 85%;
  }
}
