.contact-page__wrapper {
  height: 100%;
}

.contact-page {
  box-sizing: border-box;
  height: 100%;
  opacity: 0;
  filter: blur(50px);
  transform: perspective(50px) translateZ(50px);
  transition: 2s;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-page .lottie__wrapper {
  width: 25vw;
}

.contact-page .contact-page__text {
  text-align: center;
}

.contact-page .contact-page__text h2 {
  font-size: 4vh;
  font-weight: bold;
}

.contact-page .contact-page__text:nth-child(2) {
  margin-bottom: 30px;
}

.contact-page .contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-page .contact-form .email__input {
  margin-bottom: 15px;
  padding: 10px 8px;
  border-radius: 4px;
  border: 0;
  outline: 0;
}

.contact-page .contact-form .name__input {
  margin-bottom: 15px;
  padding: 10px 8px;
  border-radius: 4px;
  border: 0;
  outline: 0;
}

.contact-page .contact-form .content__input {
  margin-bottom: 25px;
  padding: 10px 8px;
  border-radius: 4px;
  border: 0;
  outline: 0;
  height: 25vh;
}

.contact-page .contact-form .submit__button {
  border-radius: 30px;
  background: #3981f0;
  color: #fff;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 0;
  margin: 0 30%;
  cursor: pointer;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  bottom: 0;
  left: 0;
  filter: brightness(0.5);
}

.contact-page-enter-done {
  opacity: 1;
  filter: blur(0);
  transform: perspective(50px) translateZ(0);
  transition: 1s;
}
