.github-title {
  &__wrapper {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    p {
      font-size: 24px;
      font-weight: bold;
      margin: 0;
      color: #333;
    }
  }
  &__logo {
    height: 40px;
    margin-left: 5px;
  }
  &__icon {
    height: 44px;
    position: absolute;
    right: -40px;
    top: -8px;
  }
}

.github__link {
  p {
    font-weight: bold;
    margin: 0;
    color: #333;
    font-size: 13px;
    margin-top: 10px;
    color: #333;
    text-decoration: underline;
  }
}
