.github-title {
  height: 10%;
}

.github-title__inner {
  display: inline-flex;
  height: 70%;
  justify-content: center;
  align-items: center;
}

.github-title__inner p {
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.github-title__logo {
  height: 100%;
  margin-left: 5px;
}

.github-title__icon {
  height: 44px;
  position: absolute;
  right: -40px;
  top: -8px;
}

.github__link p {
  font-weight: bold;
  margin: 0;
  color: #fff;
  color: #fff;
  text-decoration: underline;
}

@media screen and (max-width: 399px) {
  .github-title {
    margin-top: 15px;
  }
  .github-title__inner p {
    font-size: 14px;
  }
  .github-title__inner .github-title__logo {
    height: 24px;
  }
  .github-title__inner .github-title__icon {
    height: 30px;
    right: -28px;
  }
  .github__link p {
    font-size: 12px;
  }
}
