.github-title__wrapper {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.github-title__wrapper p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.github-title__logo {
  height: 40px;
  margin-left: 5px;
}

.github-title__icon {
  height: 44px;
  position: absolute;
  right: -40px;
  top: -8px;
}

.github__link p {
  font-weight: bold;
  margin: 0;
  color: #fff;
  font-size: 13px;
  margin-top: 10px;
  color: #fff;
  text-decoration: underline;
}
