.github-title {
  &__wrapper {
    display: flex;
    justify-content: center;
  }
  &__logo {
    height: 40px;
  }
  &__icon {
    height: 40px;
  }
}

.github__link {
  p {
    margin: 0;
    color: #333;
  }
}
