.github-title__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-title__logo {
  height: 30px;
}

.github-title__icon {
  height: 30px;
}

.github__link p {
  margin: 0;
  color: #333;
  font-size: 14px;
}
