.gopher-image__wrapper {
  position: absolute;
  right: -23px;
  bottom: -2%;
  z-index: 6;
}

.gopher-image__wrapper .gopher-image__creater {
  margin: 0;
  font-size: 11px;
  position: absolute;
  left: -5px;
  top: -20px;
  z-index: 2;
}

.gopher-image__wrapper .gopher-image__creater .gopher-image__creater-link {
  text-decoration: none;
  color: #8ac4e6;
  font-weight: bold;
}

.gopher-image__wrapper .gopher-image {
  transform: rotate(-30deg);
  z-index: 3;
  width: 120px;
  cursor: pointer;
}
