///////////////////////////////////////////////////////////////////////////////////

// 変数の定義

// min-width
$breakpoint-up: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

// @mixinの定義
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}
// 参考 https://www.tam-tam.co.jp/tipsnote/html_css/post10708.html

///////////////////////////////////////////////////////////////////////////////////

.graph {
  .graph__upper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 40px;
    margin: 2% 1.6%;
    .span-display__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      .prev-button {
        width: 34px;
        height: 34px;
        margin-right: 10px;
        .prev-arrow__wrapper {
          cursor: pointer;
          background: #fff;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          border: 2px #dddddd solid;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .next-button {
        width: 34px;
        height: 34px;
        margin-left: 0;
        .next-arrow__wrapper {
          cursor: pointer;
          background: #fff;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          border: 2px #dddddd solid;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .graph__span-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        .graph__span {
          margin: 0;
          font-size: 18px;
          color: #333;
        }
      }
    }
  }
  .date-select {
    width: 22%;
    height: 100%;
    padding-left: 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
    outline: 0;
    border: 2px #dddddd solid;
    border-radius: 4px;
    background: #fff;
    color: #333;
    font-weight: bold;
  }

  .line-graph__wrapper {
    background: #fff;
    padding: 0 40px 20px 40px;
    height: 30vh;
    border-radius: 4px;
    .chartjs-render-monitor {
      height: 100% !important;
    }
  }
}

@include mq-down(sm) {
  .graph {
    .line-graph__wrapper {
      height: 22vh;
    }
    .graph__upper .span-display__wrapper .graph__span-wrapper .graph__span {
      font-size: 14px;
    }
  }
}
@include mq-down(md) {
  .github__slide .slide__inner {
    width: 90vw;
  }
  .graph__upper .span-display__wrapper .graph__span-wrapper .graph__span {
    font-size: 16px;
  }
}
