.graph {
  height: 500px;
  width: 70%;
}

.graph__upper {
  position: relative;
}

.date-select {
  width: 110px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px;
  outline: 0;
}

.span-display__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.span-display__wrapper .prev-arrow__wrapper {
  margin-right: 30px;
  cursor: pointer;
  background: #efefef;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.span-display__wrapper .next-arrow__wrapper {
  margin-left: 30px;
  cursor: pointer;
  background: #efefef;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
