.graph .graph__upper {
  position: relative;
}

.graph .graph__upper .span-display__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.graph .graph__upper .span-display__wrapper .prev-button {
  width: 30px;
  height: 30px;
  margin-right: 50px;
}

.graph .graph__upper .span-display__wrapper .prev-button .prev-arrow__wrapper {
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px #fff solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph .graph__upper .span-display__wrapper .next-button {
  width: 30px;
  height: 30px;
  margin-left: 50px;
}

.graph .graph__upper .span-display__wrapper .next-button .next-arrow__wrapper {
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px #fff solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph .graph__upper .span-display__wrapper .graph__span {
  margin: 0;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

.graph .date-select {
  width: 110px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px;
  outline: 0;
  border: 1px #fff solid;
  border-radius: 4px;
  background: #fff;
  color: #333;
  font-weight: bold;
}

.graph .line-graph__wrapper {
  margin-top: 20px;
  background: #fff;
  padding: 20px 40px;
}
