.graph {
  height: 500px;
  width: 70%;
}
.graph__upper {
  position: relative;
}
.date-select {
  width: 110px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px;
  outline: 0;
}
.span-display__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  .prev-button {
    padding-right: 30px;

    .prev-arrow__wrapper {
      cursor: pointer;
      background: #efefef;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .next-button {
    padding-left: 30px;
    .next-arrow__wrapper {
      cursor: pointer;
      background: #efefef;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
