header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
  box-sizing: border-box;
  align-items: center;
  z-index: 5;
  background: transparent;
}

header .menu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}

header .menu-items .menu-item__wrapper {
  position: relative;
  margin-right: 30px;
}

header .menu-items .menu-item__wrapper .menu-item {
  font-size: 0.9vw;
  color: #fff;
  text-decoration: unset;
  letter-spacing: 2px;
  font-family: Roboto;
  font-weight: bold;
}

header .menu-items .menu-item__wrapper .menu-item.--hover {
  color: #fff;
}

header .menu-items .menu-item__wrapper .menu-item.--active {
  color: #f5a85b;
  pointer-events: none;
}

header .menu-items .menu-item__wrapper .underline {
  border-bottom: 2px #fff solid;
  width: 0;
  opacity: 0;
  transform-origin: right;
  transition: 0.5s cubic-bezier(0.55, 0, 0.15, 1);
  position: absolute;
}

header .menu-items .menu-item__wrapper .underline-enter-done {
  width: 100%;
  opacity: 1;
  bottom: -1px;
  transition: 0.5s cubic-bezier(0.55, 0, 0.15, 1);
}
