.home__title-wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 3;
}

.home__title-wrapper:hover {
  filter: invert(1);
  cursor: pointer;
}

.home__title-wrapper:hover .home__title {
  filter: blur(5px);
}

.home__title {
  font-size: 10vw;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px #f5a85b;
  -webkit-background-clip: text;
  transition: 1s;
  margin: 0;
  white-space: nowrap;
  letter-spacing: 2px;
  animation: scrollSample01 10s linear infinite;
}

@keyframes scrollSample01 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.home__inner {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  opacity: 0;
  filter: blur(30px);
  transform: perspective(50px) translateZ(50px);
  transition: 2s;
  padding: 5vh 10vw;
  display: flex;
}

.home__inner #canvas {
  width: 100% !important;
  height: 100% !important;
  left: 0;
  top: 0;
  position: absolute;
}

.home__inner-enter-done {
  opacity: 1;
  filter: blur(0);
  transform: perspective(50px) translateZ(0);
  transition: 1s;
}
