.layout {
  height: 100%;
  display: flex;
  position: relative;
  opacity: 0;
  .layout__inner {
    z-index: 5;
    width: 100%;
    .layout__content {
      height: 100%;
    }
  }
}

.layout-enter-done {
  opacity: 1;
  // transition: 5s ease-in;
}
