///////////////////////////////////////////////////////////////////////////////////

// 変数の定義

// min-width
$breakpoint-up: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

// @mixinの定義
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}
// 参考 https://www.tam-tam.co.jp/tipsnote/html_css/post10708.html

///////////////////////////////////////////////////////////////////////////////////

.layout {
  height: 100%;
  display: flex;
  position: relative;
  opacity: 0;
  .layout__inner {
    z-index: 5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .layout__content {
      height: 100%;
      width: 100%;
    }
  }
}

.layout-enter-done {
  opacity: 1;
}

@include mq-down(md) {
  .header__wrapper {
    position: fixed;
    top: 0;
    z-index: 6;
  }
}
