.layout {
  height: 100%;
  display: flex;
  position: relative;
  opacity: 0;
}

.layout .layout__inner {
  z-index: 5;
  width: 70%;
}

.layout .layout__inner .layout__content {
  height: 100%;
}

.layout-enter-done {
  opacity: 1;
}

.search-product__background {
  position: absolute;
  opacity: 0.3;
  background: #333;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.search-product__background.--active {
  display: block;
}

.noise {
  background-image: url(https://media.giphy.com/media/FSqYDfsdaiG9W/giphy.gif);
  opacity: 0.025;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
}

.noise.--upper {
  z-index: 3;
}
