.loading__wrapper {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: absolute;
  background: #333;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(100px) perspective(150px);
}

.loading__wrapper .loading__inner {
  width: 5vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
  filter: blur(3px);
  box-shadow: -5px -5px 20px #333;
}

.loading__wrapper .loading__inner .loading {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: #fff;
}

.loading__wrapper .loading__text-wrapper {
  position: absolute;
  z-index: 5;
}

.loading__wrapper .loading__text-wrapper .loading__text {
  opacity: 0;
  font-size: 1.5vw;
  font-weight: bold;
}

.loading__wrapper .loading__text-wrapper .loading__text.--active {
  opacity: 1;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.circle {
  position: absolute;
  filter: blur(3px);
  background: #333;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}

.circle1 {
  width: 8vw;
  height: 8vw;
  background: #333;
  z-index: 10;
}

.circle2 {
  width: 30vw;
  height: 30vw;
  z-index: 9;
}

.circle3 {
  width: 40vw;
  height: 40vw;
  opacity: 0.4;
  background: #fff;
  z-index: 8;
}

.circle4 {
  width: 47vw;
  height: 47vw;
  z-index: 7;
}

.circle5 {
  width: 50vw;
  height: 50vw;
  opacity: 0.4;
  background: #fff;
  z-index: 6;
}

.circle6 {
  width: 58vw;
  height: 58vw;
  z-index: 5;
}

.loading__wrapper-enter-done {
  transform: scale(20);
  transition: 3s ease-in;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(4);
  }
  50% {
    transform: scale(8);
  }
  70% {
    transform: scale(12);
  }
  80% {
    transform: scale(15);
  }
  100% {
    transform: scale(30);
  }
}
