.page-title__inner {
  position: relative;
  width: 100%;
  height: 185px;
  margin-left: 0.5vw;
}

.page-title__inner .page-title__home,
.page-title__inner .page-title__product,
.page-title__inner .page-title__profile,
.page-title__inner .page-title__contact {
  font-size: 7vw;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  filter: blur(50px);
  position: absolute;
  top: 0;
  margin: 0;
  opacity: 0;
  transition: 1s;
}

.page-title__inner .page-title__home-enter-done,
.page-title__inner .page-title__product-enter-done,
.page-title__inner .page-title__profile-enter-done,
.page-title__inner .page-title__contact-enter-done {
  opacity: 1;
  filter: blur(0);
  transition: 1s;
  -webkit-background-clip: text;
  color: transparent;
}

.page-title__inner .page-title__home-enter-done {
  background-image: url(https://media.giphy.com/media/RczrZPh9LHpCM/giphy.gif);
}

.page-title__inner .page-title__product-enter-done {
  background-image: url(https://media.giphy.com/media/R5W9M7mtfgmR2/giphy.gif);
}

.page-title__inner .page-title__profile-enter-done {
  background-image: url(https://media.giphy.com/media/rDVjzeKwbmBRm/giphy.gif);
}

.page-title__inner .page-title__contact-enter-done {
  background-image: url(https://media.giphy.com/media/gAG8IHCJcea4M/giphy.gif);
}
