///////////////////////////////////////////////////////////////////////////////////

// 変数の定義

// min-width
$breakpoint-up: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

// @mixinの定義
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}
// 参考 https://www.tam-tam.co.jp/tipsnote/html_css/post10708.html

///////////////////////////////////////////////////////////////////////////////////

.other-products__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 12vw;
  margin-top: 20vh;
  .other-product__link {
    text-decoration: none;

    .other-product {
      display: flex;
      align-items: center;
      &.--prev {
        .other-product__arrow-wrapper {
          margin-right: 10px;
        }
      }
      &.--next {
        .other-product__arrow-wrapper {
          margin-left: 10px;
        }
      }
      .other-product__arrow-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .other-product__arrow-text {
        }
        .other-product__arrow {
          width: 20px;
        }
      }
      .other-product__image-wrapper {
        width: 20vw;
        height: (20vw / 16 * 9);
        overflow: hidden;
        position: relative;

        .other-product__image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.5s;
        }
        .a {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 5;
          box-sizing: border-box;
          border: #fff 0px solid;
          transition: 0.5s;

          &:hover {
            transition: 0.5s;
            border-top: #fff 10px solid;
            border-bottom: #fff 10px solid;
            border-left: #fff 20px solid;
            border-right: #fff 20px solid;
          }
        }
      }
    }
  }
}

@include mq-down(md) {
  .other-products__inner {
    flex-direction: column;
    :first-child {
      //.other-product__linkの一つ目(prev)
      &.other-product__link {
        justify-content: flex-start;
        margin-bottom: 15px;
      }
    }
    :nth-child(2) {
      &.other-product__link {
        justify-content: flex-end;
      }
    }
    .other-product__link {
      display: inline-flex;
      .other-product {
        display: inline-flex;
        .other-product__image-wrapper {
          width: 30vw;
          height: (30vw / 16 * 9);
        }
      }
    }
  }
}
