///////////////////////////////////////////////////////////////////////////////////

// 変数の定義

// min-width
$breakpoint-up: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

// @mixinの定義
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}
// 参考 https://www.tam-tam.co.jp/tipsnote/html_css/post10708.html

///////////////////////////////////////////////////////////////////////////////////

$titleHeight: 4vh;
$spanHeight: 16px;
$urlHeight: 16px;
$descriptionHeight: 16px;

.product-page {
  width: 100%;
  height: 100%;
  p {
    text-align: start;
    color: #333;
  }
  .product-page__curtain {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: #fff;
    z-index: -1;
    &.-enter-done {
      animation: slideCurtain 0.7s;
    }
  }
  .product-page__content {
    padding: 10% 0;
    overflow-y: scroll;
    height: 100vh;
    box-sizing: border-box;
    max-width: 100vw;
    overflow-x: hidden;
    .title-section {
      display: flex;
      padding-left: 18%;
      padding-right: 3%;
      .title-section__inner {
        position: relative;
        height: $titleHeight + 5;
        margin-top: 70px;
        width: 90%;
        .title__inner {
          opacity: 0;
        }
        .title__inner-enter-done {
          opacity: 1;
          .title {
            font-size: $titleHeight;
            line-height: $titleHeight;
            font-weight: bold;
            transition: transform 0.7s ease-in;
            transform: translateY(-($titleHeight + $titleHeight));
          }
          .title__cover {
            z-index: 0;
            height: 100%;
            width: 100%;
            top: 0;
            position: absolute;
            background: #fff;
          }
        }

        .span__inner {
          opacity: 0;
          height: $spanHeight + 5;
          position: relative;
          transform: translateY(-$spanHeight);
          z-index: 8;
          display: flex;
        }
        .url__wrapper {
          position: relative;
          .url__cover {
            position: absolute;
            background: #fff;
          }

          .url__link {
            margin-left: 15px;
            display: none;
            align-items: center;
            z-index: 8;
            opacity: 0;
            &.--active {
              display: flex;
            }
            .link-icon__wrappper {
              width: $spanHeight;
              height: $spanHeight;
              padding: 0 1px 1px;
              box-sizing: border-box;
              margin-right: 5px;
            }
            .url {
              color: #accaff;
              font-weight: bold;
              text-decoration-color: cornflowerblue;
              text-decoration: underline;
              font-size: $spanHeight;
            }
          }
        }
        .url__wrapper-enter-done {
          .url__link {
            opacity: 1;
            transition: 1s;
            transform: translateY(-($urlHeight + 3));
          }
          .url__cover {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9;
          }
        }
        .span__inner-enter-done {
          opacity: 1;
          .start-date__wrapper {
            display: flex;
            padding: 9px 12px;
            border-radius: 30px;
            background: #f7f7f7;
            transition: transform 0.7s ease-in;
            transform: translateY(-($spanHeight + 5));
            display: flex;
            align-items: center;
            .start-date {
              color: #999;
              z-index: 6;
              font-size: $spanHeight;
              line-height: $spanHeight;
            }
          }
          .span {
            z-index: 6;
            font-size: $spanHeight - 3;
            color: grey;
            transition: transform 0.7s ease-in;
            transform: translateY(-$spanHeight - 3);
            margin-left: 10px;
          }
          .span__cover {
            z-index: 7;
            height: 100%;
            width: 100%;
            top: 0;
            position: absolute;
            background: #fff;
          }
          .url__link {
            transform: translateY(-($spanHeight + 5));
            transition: transform 0.7s ease-in;
          }
        }
      }
      @keyframes slideCurtain {
        0% {
          top: 100%;
        }
        100% {
          top: 0%;
        }
      }
      .close-button {
        position: fixed;
        right: 5vw;
        top: 5vw;
        border-radius: 50%;
        z-index: 8;
        width: 4vw;
        height: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: 0;
        border: 0;
        cursor: pointer;
        background: transparent;
        transition: 0.6s;
        &:hover {
          background: rgb(255, 233, 193);
          transition: 0.6s;
        }
        .close-button__inner {
          width: 40%;
          display: flex;
        }
        .close-button__text {
        }
      }
    }
  }

  :nth-child(2n + 1) {
    // section(2n番目)
    &.section {
      flex-direction: row-reverse;
    }
  }
  :nth-child(2) {
    &.section {
      margin-top: 80px;
    }
  }

  .section {
    margin-top: 140px;
    display: flex;
    // flex-direction: column-reverse;
    align-items: center;
    opacity: 0;
    padding-left: 10%;
    padding-right: 1%;
    &.-enter-done {
      transition: 1s;
      opacity: 1;

      &.--first-load {
        transition-delay: 1s;
      }
    }
    .section__image {
      width: 55%;
      border-radius: 5px;
      z-index: 1;
      margin-top: 16px;
    }
    .description__wrapper {
      background: #fff;
      display: flex;
      justify-content: center;
      width: 100%;
      .description__inner {
        width: 70%;
        box-sizing: border-box;
        .description__title {
          margin: 0;
          margin: 15px 0 8px;
          color: #333;
          font-size: 40px;
          font-weight: 800;
          text-align: start;
          // transform: translateY(0);
          &.--active {
            transition: 0.6s ease-in;
            // transform: translateY(-100%);
          }
        }
      }
      .description {
        position: relative;
        .description__text {
          opacity: 0;
          color: #838383;
          font-weight: 800;
          font-size: $descriptionHeight;
          line-height: $descriptionHeight * 2;
          text-align: start;
          transform: translateY(100%);
          word-break: break-all;
          white-space: break-spaces;
          &.--active {
            opacity: 1;
            transition: 0.6s ease-in;
            transform: translateY(0%);
          }
          &.--first-load {
            transition-delay: 1s;
          }
        }
        .description__cover {
          position: absolute;
          background: #fff;
          height: 100%;
          width: 100%;
          top: 100%;
          left: 0;
        }
      }
    }
  }
}
.skill-section {
  width: 100vw;
  height: 330px;
  margin-top: 150px;
  position: relative;
  .skill-section__inner {
    width: 100%;
    height: 100%;

    &:hover {
      .skill__title {
        filter: blur(5px);
      }
    }
    .skill__title-wrapper {
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      width: 100vw;
      overflow: hidden;
      .skill__title {
        font-size: 18vw;
        font-weight: 900;
        bottom: 0;
        margin: 0;
        left: 10%;
        color: transparent;
        -webkit-text-stroke: 2px #b7b7b7;

        transition: 1s;
        margin: 0;
        white-space: nowrap;
        letter-spacing: 2px;
        animation: scrollSample01 10s linear infinite;
        @keyframes scrollSample01 {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-100%);
          }
        }
      }
    }
    .skill-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      .skill-card {
        width: 20vw;
        height: 20vw;
        border-radius: 5px;
        margin-right: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100px);
        opacity: 0;
        &.-enter-done {
          transform: translateX(0);
          opacity: 1;
          transition: 1s;
        }
        .skill-card__image-wrapper {
          width: 50%;
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          .skill-card__image {
            height: 100%;
            width: 100%;
          }
        }
        .skill-card__title {
          color: #333;
          font-weight: bold;
          margin-top: 10px;
          font-size: 18px;
        }
      }
    }
  }
}

@include mq-down(md) {
  .product-page {
    :nth-child(2n + 1) {
      // section(2n番目)
      &.section {
        flex-direction: column;
        padding: 0 7%;
      }
    }

    .section {
      flex-direction: column;
      margin-top: 65px;
      padding: 0 7%;
      .section__image {
        width: 100%;
      }
      .description__wrapper {
        margin-left: 0;
        .description__inner {
          width: 100%;
        }
        .description__title {
          font-size: 25px;
          margin: 10px 0 0;
        }
        .description .description__text {
          font-size: 14px;
          &.--active {
            font-size: 14px;
            line-height: 28px;
          }
        }
      }
    }
    .product-page__content .title-section {
      padding: 0 5%;
      .title-section__inner {
        margin-top: 14vh;
        .close-button {
          display: none;
        }

        .url__link.--active {
          margin: 0;
          position: absolute;
          word-break: break-all;
          .url {
            font-size: 16px;
            line-height: 16px;
          }
        }

        .title__inner-enter-done {
          .title {
            font-size: 4vw;
          }
        }
        .span__inner-enter-done .start-date__wrapper .start-date {
          font-size: 13px;
        }
      }
    }
  }
  .skill-section {
    height: 10vh;
    .skill-section__inner {
      height: unset;
      .skill-cards .skill-card {
        width: 30vw;
        .skill-card__title {
          font-size: 12px;
        }
      }
    }
  }
}

@include mq-down(sm) {
  .product-page {
    :nth-child(2n + 1) {
      // section(2n番目)
      &.section {
        flex-direction: column;
        padding: 0 7%;
      }
    }

    .section {
      flex-direction: column;
      margin-top: 65px;
      padding: 0 7%;
      .section__image {
        width: 100%;
      }
      .description__wrapper {
        margin-left: 0;
        .description__title {
          font-size: 20px;
          margin: 10px 0 0;
        }
        .description .description__text {
          font-size: 13px;
        }
      }
    }
    .product-page__content .title-section {
      padding: 0 5%;
      .title-section__inner {
        margin-top: 14vh;
        .url__link .url {
          font-size: 13px !important;
        }
        .link-icon__wrappper {
          display: none;
        }
        .title__inner-enter-done {
          .title {
            font-size: 4vw;
            z-index: -1;
          }
          .title__cover {
            display: none;
          }
        }
        .span__inner-enter-done .start-date__wrapper .start-date {
          font-size: 13px;
        }
      }
    }
    .skill-section {
      height: 10vh;
      .skill-section__inner {
        height: unset;
        .skill-cards .skill-card {
          width: 30vw;
          .skill-card__title {
            font-size: 12px;
          }
        }
      }
    }
  }
}
