.product-card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.product-card .product-card__inner {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 8%;
}

.product-card .product-card__inner .product-card__image__wrapper {
  width: 50%;
  height: 75%;
  overflow: hidden;
}

.product-card .product-card__inner .product-card__image__wrapper .product-card__image {
  transition: 0.4s;
  height: 100%;
}

.product-card .product-card__inner .product-card__image__wrapper .product-card__image.--hover {
  transition: 0.8s;
  transform: scale(1.3);
}

.product-card .product-card__inner .product-card__title-wrapper {
  height: 25%;
  width: 100%;
  opacity: 0;
  padding-top: 3%;
  border-radius: 10px;
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: -moz-linear-gradient(top, transparent, rgba(73, 73, 73, 0.295));
  background: -webkit-linear-gradient(top, transparent, rgba(73, 73, 73, 0.295));
  background: linear-gradient(to bottom, transparent, rgba(73, 73, 73, 0.295));
}

.product-card .product-card__inner .product-card__title-wrapper.--hover {
  opacity: 1;
}

.product-card .product-card__inner .product-card__title-wrapper .product-card__title,
.product-card .product-card__inner .product-card__title-wrapper .product-card__sub-title {
  width: 70%;
  text-align: start;
  margin: 0;
  color: #fff;
  font-size: 15px;
  font-family: Roboto;
}

.product-card .product-card__inner .product-card__title-wrapper .product-card__title {
  font-weight: bold;
}
