.profile__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 5vw;
  height: 100%;
  box-sizing: border-box;
  opacity: 0;
  filter: blur(30px);
  transform: perspective(50px) translateZ(50px);
  transition: 2s;
}

.profile__inner .swiper-container {
  width: 100%;
  height: 100%;
}

.profile__inner .swiper-slide {
  display: flex;
  justify-content: center;
}

.profile__inner .scroll-text__wrapper {
  position: absolute;
  bottom: 30px;
}

.profile__inner .scroll-text__wrapper .scroll-text {
  font-size: 1.5rem;
}

.profile__inner .scroll-text__wrapper-enter-done {
  animation: 1s ease-in 0s infinite alternate forwards running move;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(8px);
  }
}

.profile__inner .bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(0.4);
}

.profile__inner-enter-done {
  opacity: 1;
  filter: blur(0);
  transform: perspective(50px) translateZ(0);
  transition: 1s;
}

@media screen and (max-width: 767px) {
  .profile__inner {
    padding-top: 20%;
  }
}

@media screen and (max-width: 399px) {
  .profile__inner {
    padding-top: 25%;
  }
  .profile__inner .swiper-slide {
    justify-content: flex-start;
    padding-top: 10px;
  }
}
