.profile__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5vw 5vw 0 0;
  height: 100%;
  box-sizing: border-box;
  opacity: 0;
  filter: blur(30px);
  transform: perspective(50px) translateZ(50px);
  transition: 2s;
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
  .scroll-text__wrapper {
    position: absolute;
    bottom: 30px;
    .scroll-text {
      font-size: 1.5rem;
    }
  }
  .scroll-text__wrapper-enter-done {
    animation: 1s ease-in 0s infinite alternate forwards running move;
  }
  @keyframes move {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(8px);
    }
  }
}
.profile__inner-enter-done {
  opacity: 1;
  filter: blur(0);
  transform: perspective(50px) translateZ(0);
  transition: 1s;
}
