.profile__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding-top: 60px;
}

.profile__inner .swiper-container {
  width: 100%;
  height: 100%;
}
