.progress-bar {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 60%;
  margin-top: 60px;
}

.progress-bar .dot__wrapper {
  z-index: 3;
}

.progress-bar .dot__wrapper p {
  position: absolute;
  margin: 0;
  top: -25px;
}

.progress-bar .dot__wrapper p.--active {
  color: #f5a85b;
}

.progress-bar .dot__wrapper .dot__border {
  background: #f3f3f3;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.progress-bar .dot__wrapper .dot__border.--active {
  border: #f5a85b 1px solid;
}

.progress-bar .dot__wrapper .dot__border .dot {
  background: #333;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.progress-bar .dot__wrapper .dot__border .dot.--active {
  background: #f5a85b;
}

.progress-bar .progress-bar__line {
  position: absolute;
  height: 1.5px;
  background: #333;
  top: 50%;
  width: 100%;
}

.progress-bar .progress-bar__active-line {
  position: absolute;
  height: 2px;
  background: #f5a85b;
  top: 50%;
  z-index: 2;
  transition: 1s;
}
