.sidebar {
  height: 100%;
  width: 30%;
  background: #fafafa;
  position: relative;
  z-index: 3;
}

.sidebar .sidebar__inner {
  width: 60px;
}

.sidebar .page-title__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
