.sidebar {
  height: 100%;
  width: 30%;
  display: flex;
  background: #fafafa;
  position: relative;
  z-index: 6;
}

.sidebar .sidebar__inner {
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sidebar .sidebar__inner .my-name {
  font-family: Roboto;
  font-size: 20px;
  transform: rotate(270deg);
  letter-spacing: 2px;
  left: -100%;
  margin: 0;
  position: absolute;
  white-space: nowrap;
  transform-origin: bottom;
}

.sidebar .sidebar__inner .icon__group {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
}

.sidebar .sidebar__inner .icon__group .git-icon,
.sidebar .sidebar__inner .icon__group .ig-icon {
  width: 22px;
  margin-bottom: 30px;
}

.sidebar .sidebar__inner .icon__group .wantedly-icon {
  width: 25px;
  margin-bottom: 30px;
}

.sidebar .page-title__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.sidebar .noise {
  opacity: 0.02;
}
