nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 3vw;
  box-sizing: border-box;
  z-index: 8;
  background: transparent;
  position: fixed;
  .sidebar__title {
    position: absolute;
    top: 10px;
    text-align: start;
    &.--black {
      color: #333;
    }
  }
  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    height: 20%;
    .menu-item__wrapper {
      position: relative;
      text-align: start;

      .menu-item {
        text-decoration: unset;
        font-size: 15px;
        letter-spacing: 2px;
        font-family: Roboto;
        font-weight: bold;

        .menu-item__text {
          color: #fff;
          &.--black {
            color: #333;
          }
        }
        &.--hover {
          color: #fff;
        }
        &.--active {
          color: #f5a85b;
          pointer-events: none;
        }
      }

      .underline {
        border-bottom: 2px #fff solid;
        width: 0;
        opacity: 0;
        transform-origin: right;
        transition: 0.5s cubic-bezier(0.55, 0, 0.15, 1);
        position: absolute;
        &.--black {
          border-bottom: 2px #333 solid;
        }
      }
      .underline-enter-done {
        width: 100%;
        opacity: 1;
        bottom: -1px;
        transition: 0.5s cubic-bezier(0.55, 0, 0.15, 1);
      }
    }
  }
  .icon__group {
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    .icon__wrapper {
      padding: 9px;
      width: 18px;
      height: 18px;
      margin-bottom: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        background: rgb(54, 54, 54);
        transition: 0.5s;
      }
      &.--white {
        &:hover {
          background: rgb(219, 219, 219);
          transition: 0.5s;
        }
      }
      .icon__link {
        display: flex;

        .git-icon,
        .ig-icon {
          width: 18px;
        }

        .wantedly-icon {
          width: 21px;
        }
      }
    }
  }
}
