///////////////////////////////////////////////////////////////////////////////////

// 変数の定義

// max-width
$breakpoint-down: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

// @mixinの定義

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

// 参考 https://www.tam-tam.co.jp/tipsnote/html_css/post10708.html

///////////////////////////////////////////////////////////////////////////////////

nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 3vw;
  box-sizing: border-box;
  z-index: 8;
  background: transparent;
  position: fixed;
  .sidebar__title {
    position: absolute;
    top: 10px;
    text-align: start;
    &.--black {
      color: #333;
    }
  }
  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    height: 20%;
    .menu-item__wrapper {
      position: relative;
      text-align: start;

      .menu-item {
        text-decoration: unset;
        font-size: 15px;
        letter-spacing: 2px;
        font-family: Roboto;
        font-weight: bold;

        .menu-item__text {
          color: #fff;
          &.--black {
            color: #333;
          }
        }
        &.--hover {
          color: #fff;
        }
        &.--active {
          .menu-item__text {
            color: #f5a85b;
            pointer-events: none;
          }
        }
      }
    }
  }
  .icon__group {
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    .icon__wrapper {
      padding: 9px;
      transform: translateX(-9px);
      width: 18px;
      height: 18px;
      margin-bottom: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        background: rgb(54, 54, 54);
        transition: 0.5s;
      }
      &.--white {
        &:hover {
          background: rgb(219, 219, 219);
          transition: 0.5s;
        }
      }
      .icon__link {
        display: flex;
        .git-icon,
        .ig-icon {
          height: 18px;
          width: 18px;
        }

        .wantedly-icon {
          width: 21px;
          height: 21px;
        }
      }
    }
  }
}

@include mq(md) {
  nav {
    padding-left: 3vw;
    .menu-items {
      display: none;
    }
  }
}
