.graph__wrapper {
  display: flex;
  justify-content: center;
}

.github__button {
  background: #2f7562;
  width: 300px;
  height: 150px;
  border-radius: 150px 150px 0 0;
  position: absolute;
  right: -150px;
  bottom: 0px;
}

@keyframes sizeScale {
  0% {
    border-radius: 0% 0% 0 0;
    transform: translateY(2000px);
  }
  45% {
    border-radius: 0% 0% 0 0;
    transform: translateY(1500px);
  }
  50% {
    border-radius: 50% 50% 0 0;
  }
  80% {
    border-radius: 50% 50% 0 0;
  }
  100% {
    border-radius: 0% 0% 0 0;
    transform: translateY(0px);
  }
}

.graph__back-ground {
  left: -51%;
  background: #2f7562;
  position: absolute;
  top: 0;
  animation-name: sizeScale;
  height: 100vh;
  width: 200vw;
  left: -51%;
}

.graph__back-ground-enter-done {
  animation-name: sizeScale;
  animation-duration: 2s;
}
