.slide-curtain {
  position: absolute;
  background-image: url(https://media.giphy.com/media/FSqYDfsdaiG9W/giphy.gif);
  opacity: 0.2;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100%;
  transition: 0.65s;
  z-index: 7;
}

.slide-curtain-enter-done {
  right: 100%;
  transition: 0.65s;
}
