.vertical-slider {
  width: 100%;
}

.vertical-slider .swiper-container {
  height: 100vh;
}

.vertical-slider .swiper-slide {
  transition: 0.8s;
  cursor: pointer;
}

.vertical-slider .swiper-slide-next,
.vertical-slider .swiper-slide-prev {
  transition: 0.8s;
  opacity: 0.6;
}
