.vertical-slider {
  padding-right: 5vw;
  width: 50vw;
  overflow-y: scroll;
  height: 100%;
}

.vertical-slider .vertical-slider__inner {
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}
